<div>
    <h1>Previous Versions</h1>
    <a asp-action="TwoDotOne">
        <h3>2.1</h3>
    </a>
    <a asp-action="TwoDotTwo">
        <h3>2.2</h3>
    </a>
    <a asp-action="TwoDotThree">
        <h3>2.3</h3>
    </a>
</div>