<h1 id="release-2-4">Release 2.4</h1>
<h2 id="changes">Changes</h2>
<h3 id="scrum-210-as-a-developer-i-want-to-have-an-api-gateway-in-place-so-that-all-requests-and-queries-from-the-main-website-can-be-routed-through-a-single-entry-point-for-the-overall-solution-">Scrum-210 - As a developer, I want to have an API gateway in place, so that all requests and queries from the main website can be routed through a single entry-point for the overall solution.</h3>
<ul>
<li>Added a repository for the API gateway.</li>
<li>Defined and routed the endpoints from the microservice through the API gateway to the main site on the gateway.</li>
<li>Made a request to the microservice to retrieve the information.</li>
<li>Sent the information through the gateway.</li>
</ul>
<h3 id="scrum-211-as-a-developer-i-want-to-have-detailed-monitoring-and-logging-within-the-api-gateway-so-that-i-can-easily-troubleshoot-and-have-more-detailed-insight-into-the-traffic-coming-through-the-api-gateway-">Scrum-211 - As a developer, I want to have detailed monitoring and logging within the API gateway, so that I can easily troubleshoot and have more detailed insight into the traffic coming through the API gateway.</h3>
<ul>
<li>Added a try catch for data serialization, only logged if unsuccessful.</li>
<li>Added a try catch for connecting/sending data to the website successfully, logged both if success or failure.</li>
<li>Added a try catch for receiving data from microservice, logged if successful or fail.</li>
<li>Added timestamps to the existing logger.</li>
</ul>
<h3 id="scrum-214-as-a-developer-i-want-to-test-the-api-gateway-extensively-so-that-i-can-ensure-it-is-working-as-intended-under-high-traffic-">Scrum-214 - As a developer, I want to test the API gateway extensively, so that I can ensure it is working as intended under high traffic.</h3>
<ul>
<li>Added a separate production instance (AWS, etc) for testing.</li>
<li>Added a docker container for the API gateway.</li>
<li>Pushed containers onto the instance.</li>
<li>From instance, tested the website with the gateway.</li>
</ul>


<h3><a href="https://github.com/Redacted-Team/4350_002_Fall23_BucStop/releases/tag/2.4">Link to GitHub release page</a></h3>