<h1 id="release-2-2">Release 2.2</h1>
<h2 id="changes">Changes</h2>
<h3 id="scrum-119-as-a-user-i-want-the-pong-end-screen-to-display-my-score-so-that-i-can-see-how-i-performed-at-the-end-of-the-game-">Scrum-119 - As a user, I want the Pong end screen to display my score so that I can see how I performed at the end of the game.</h3>
<ul>
    <li>Added a score counter on the screen.</li>
    <li>
        To Do:
        <ul>
            <li>Still requires an end screen that shows score.</li>
        </ul>
    </li>
</ul>
<h3 id="scrum-120-as-a-user-i-want-the-pong-end-screen-to-display-my-score-so-that-i-can-see-how-i-performed-at-the-end-of-the-game-">Scrum-120 - As a user, I want the Pong end screen to display my score so that I can see how I performed at the end of the game.</h3>
<ul>
    <li>Added a score counter on the screen, as well as a screen to press space to start.</li>
    <li>The game ends when the snake gets hit!</li>
    <li>
        To Do:
        <ul>
            <li>Still requires an end screen that shows score. </li>
        </ul>
    </li>
</ul>
<h3 id="scrum-125-as-a-player-i-want-to-be-able-to-see-my-score-in-tetris-so-that-i-have-a-high-score-to-continue-playing-to-beat-">Scrum-125 - As a player, I want to be able to see my score in Tetris so that I have a high-score to continue playing to beat.</h3>
<ul>
    <li>Added a score counter on the screen.</li>
    <li>The game ends when the tetriminos get too high, and displays your score on the game over screen.</li>
</ul>
<h3 id="scrum-128-as-a-player-i-want-to-be-able-to-start-tetris-with-a-button-so-that-i-can-choose-when-i-want-to-play-">Scrum-128 - As a player, I want to be able to start Tetris with a button so that I can choose when I want to play.</h3>
<ul>
    <li>Added a starting button to Tetris. </li>
</ul>
<h3 id="scrum-129-as-a-player-i-want-to-be-able-to-start-pong-with-a-button-so-that-i-can-choose-when-i-want-to-play-">Scrum-129 - As a player, I want to be able to start Pong with a button so that I can choose when I want to play.</h3>
<ul>
    <li>Added a starting button to Pong. </li>
</ul>
<h3 id="scrum-130-as-a-player-i-want-to-be-able-to-start-snake-with-a-button-so-that-i-can-choose-when-i-want-to-play-">Scrum-130 - As a player, I want to be able to start Snake with a button so that I can choose when I want to play.</h3>
<ul>
    <li>Added a starting button to Snake. </li>
</ul>
<h3 id="scrum-145-as-a-player-i-would-like-the-snake-game-to-play-more-slowly-so-that-i-can-play-more-easily-">Scrum-145 - As a player, I would like the snake game to play more slowly so that I can play more easily.</h3>
<ul>
    <li>Added a speed cap to Snake, so it is more easily playable. (Continue pressing Space for a hard mode!)</li>
</ul>
<h3 id="scrum-146-as-a-player-i-would-like-to-be-able-to-see-my-score-as-i-play-snake-so-i-can-see-my-performance-in-real-time-">Scrum-146 - As a player, I would like to be able to see my score as I play Snake so I can see my performance in real time.</h3>
<ul>
    <li>Added a score counter on the screen.</li>
</ul>
<h3 id="scrum-149-as-a-player-i-want-to-be-able-to-see-release-patch-notes-on-the-news-section-so-that-i-can-stay-up-to-date-with-new-releases-and-features-of-the-site-">Scrum-149 - As a player, I want to be able to see release/patch notes on the news section so that I can stay up to date with new releases and features of the site.</h3>
<ul>
    <li>Added functionality to the version buttons at the bottom of the home page.</li>
</ul>

<h3><a href="https://github.com/Redacted-Team/4350_002_Fall23_BucStop/releases/tag/2.2">Link to GitHub release page</a></h3>