<h1 id="release-2-3">Release 2.3</h1>
<h2 id="changes">Changes</h2>
<h3 id="scrum-150-as-a-player-i-would-like-to-be-able-to-record-my-high-scores-on-the-leaderboard-so-that-i-can-share-my-achievements-with-other-players-">Scrum-150 - As a player, I would like to be able to record my high scores on the leaderboard, so that I can share my achievements with other players.</h3>
<ul>
    <li>Formatted the Micro Service to hold user scores.</li>
    <li>Implemented API calls to microservice to display scores to the leaderboard.</li>
    <li>Send in map to the Micro Service.</li>
</ul>
<h3 id="scrum-192-research-code-submission-formats-for-usage-in-the-game-submission-page-">Scrum-192 - Research code submission formats for usage in the game submission page.</h3>
<h3 id="scrum-194-research-methods-to-automatically-scan-submitted-files-to-ensure-they-adhere-to-the-defined-standards-and-format-">Scrum-194 - Research methods to automatically scan submitted files to ensure they adhere to the defined standards and format.</h3>

<h3><a href="https://github.com/Redacted-Team/4350_002_Fall23_BucStop/releases/tag/2.3">Link to GitHub release page</a></h3>