<h1 id="release-2-1">Release 2.1</h1>
<h2 id="changes">Changes</h2>

<h3 id="scrum-17-as-a-user-i-would-like-to-see-more-information-about-the-website-and-any-news-related-on-the-home-page-to-see-updates-or-added-features-when-i-first-open-the-site-">Scrum-17 - As a user I would like to see more information about the website and any news related on the home page to see updates or added features when I first open the site.</h3>
<ul>
    <li>Added rudimentary version buttons that will bring you to the specific version page. (The one you&#39;re on right now!)</li>
</ul>
<h3 id="scrum-18-as-a-student-i-want-to-be-able-to-enter-my-high-score-on-a-leaderboard-with-my-initials-to-stay-consistent-with-the-retro-arcade-feel-of-the-site-">Scrum-18 - As a student, I want to be able to enter my high score on a leaderboard with my initials to stay consistent with the retro-arcade feel of the site.</h3>
<ul>
    <li>Added a leaderboard placeholder, along with the controls , author, and description tabs. </li>
</ul>
<h3 id="scrum-73-as-a-player-i-would-like-to-be-able-to-read-a-description-about-each-game-">Scrum-73 - As a player, I would like to be able to read a description about each game.</h3>
<ul>
    <li>Added a (real) description to each tab under each game.</li>
</ul>
<h3 id="scrum-74-as-a-player-i-would-like-to-be-able-to-read-a-tutorial-about-the-controls-of-each-game-">Scrum-74 - As a player, I would like to be able to read a tutorial about the controls of each game.</h3>
<ul>
    <li>Added tutorials, as well as the correct author, to each of the game tabs.</li>
</ul>
<h3 id="scrum-115-as-a-user-i-would-like-to-be-able-to-see-a-mission-statement-on-the-website-so-i-have-a-better-understanding-of-the-websites-purpose-">Scrum-115 - As a user I would like to be able to see a mission statement on the website so I have a better understanding of the websites purpose.</h3>
<ul>
    <li>Removed the privacy page.</li>
    <li>Added the about page, as well as having a mission statement for the website. </li>
</ul>
<h3 id="scrum-132-as-a-developer-i-want-to-create-a-changelog-document-that-tracks-changes-for-each-release-">Scrum-132 - As a developer, I want to create a changelog document that tracks changes for each release.</h3>
<ul>
    <li>Added doculog to our process, and seeing if it would help create our changelog.</li>
</ul>

<h3><a href="https://github.com/Redacted-Team/4350_002_Fall23_BucStop/releases/tag/2.1">Link to GitHub release page</a></h3>